EjemploNorthWindEmpleados/Service References/Ship/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PruebaWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PruebaWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfEmployees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployees" nillable="true" type="tns:ArrayOfEmployees" />
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employees" nillable="true" type="tns:Employees" />
</xs:schema>